*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
.logo{
    font-size: 50px;
}
h1{
    font-weight: normal;
}
.icon-menu > div{
font-size: 30px;
}
body{
    margin: 50px 200px;
}

.container-footer,
.log-menu,
.menu-foot > ul,
.icon-menu{
    display: flex;
    align-items: center;
    color: white;
}
.container-footer{
    background-color: rgb(2, 181, 213);
    padding: 10px;
    justify-content: space-between;
  
}
.menu-foot > ul > li{
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    color: rgb(207, 207, 207);
}
.menu-foot > ul > li:hover{
color: white;
}


.header{
    display: flex;
    justify-content: center;
    margin: 30px 0px ;

}
.lesson{
    display: flex;
}
.lesson > div{
    padding: 10px;
    font-size: 20px;
    color: rgb(2, 181, 213) ;
    border-bottom:1px solid black;
    transition: all 0.5s ease;
}
.lesson > div:hover{
    color: black;
    border: 1px solid black;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius:5px ;
}
.les0{
    width: 100%;
    border-bottom:1px solid black;
}

.form{
    display: flex;
}
.form > div{
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}
div > span:first-child{
    font-size: 12px;
    padding: 10px 0px;
    margin: 10px 0px;
    color: rgb(0, 0, 0, 0.5);
}
.les-top > input{
    padding: 5px;
    border-radius: 5px;
}
.les-top > span:first-child,
.btn-cont > span:first-child  {

    padding-bottom:1px ;
    
}
.btn{
    background-color: rgb(2, 181, 213) ;
    padding: 5px;
    border-radius: 5px;
    color:white;
}
.btn:active{
    
background-color: rgb(112, 137, 236);
}
